$media-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Righteous');

* {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

footer,
header,
section {
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
  padding: 20px;
  background-color:white;
  font-family: "Roboto", sans-serif;
}
.container-fluid {
    padding: 0;
    margin: 0;
    text-align: center;
}

.row {
    padding: 0;
    margin: 0;
    text-align: center;
}
//strona tytulowa
.active,
.carousel,
.item {
    height: 100%;
}

.carousel-inner {
    height: 100%;
    background: #000;
}

.carousel-caption {
    padding-bottom: 80px;
}

h1 {
    font-size: 3em;
    font-weight: 600;
}
/* Background images are set within the HTML using inline CSS, not here */
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}

 /**
     * Change animation duration
     */
.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}


//elementy glownego menu
.nav li a {
background:#0c9ba0;
color:#FFF;
display:block;
padding-top:1em;
padding-top:1em;
margin-right:0.5em;
border-radius: 7%;
letter-spacing: 0.3em;
font-weight: bolder;
}

.nav li a:hover {
background:green;
text-decoration: none;
color: white;
}

/* sub-menus */
.sub-menu{
display:none;
}
li:hover > ul{
 visibility:visible; /* show it on hover */
 opacity:1;
 transition-delay:0;
 display: block;
}

//section main post
 #main{
    border: 1em solid #0c9ba0;
    border-radius: 2%;
    padding-top: 10px;
    }

.carousel-inner img {
    height: 55em;
}
.card-text {
    color: black;
}
h5 {
    padding: 3%;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

p {
    text-align: center;
    padding: 3%;
}

.card-title {
    background-color: #cc00cc;
    color: white;
}

.pic_2 {
    width: 100%;
    height: 70%;
    text-align: center;
    padding-bottom: 5px;
}

.pic_2 img {
    width: 100%;
    height: 100%;
    margin-top: 2px;
}

.pink_2 a {
    width: 10em;
    margin-bottom: 5px;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}

#main .card{
    margin: 0;
    padding: 0;
    border: 0;
}

//section siedbar

#side {
    background-image: url("http://localhost/WP_projekt/wp-content/uploads/2018/06/received_2639556182726692-450x1024.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5px;
    background-color: #2B77C4;
    border: solid 3px #742974;
    border-radius: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    }

#card_s {
    margin-top: auto;
    justify-content: flex-end;
    margin-top: 120%;
}

#tit_s {
    background-color: transparent;
}

.btn-info-outline {
    background-color: white;
    border-radius: 1rem;
    font-size: 20em;
    color: #742974;
}
//social buttons
.rounded-social-buttons {
    text-align: right !important;
    height: 50px;
}

.rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:focus,
.rounded-social-buttons .social-button:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.fa-facebook-f,
.fa-instagram,
.fa-linkedin,
.fa-youtube,
.rounded-social-buttons .fa-twitter {
    font-size: 10px;
}

.rounded-social-buttons .social-button.facebook {
    background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:focus,
.rounded-social-buttons .social-button.facebook:hover {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
    background: #55acee;
}

.rounded-social-buttons .social-button.twitter:focus,
.rounded-social-buttons .social-button.twitter:hover {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:focus,
.rounded-social-buttons .social-button.linkedin:hover {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
    background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:focus,
.rounded-social-buttons .social-button.youtube:hover {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
    background: #125688;
}

.rounded-social-buttons .social-button.instagram:focus,
.rounded-social-buttons .social-button.instagram:hover {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
}
//post
#title {
    text-align: center;
    background-color: transparent;
}

div .card-text {
    color: white;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.img-responive {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #3F3FBF;
}

.card-block,
.col-md-4,
.col-sm-6,
.col-xs-12 {
    clear: both;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.card-block {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    min-height: 60%;
}

.card-footer {
    margin-top: auto;
}

#bod {
    background-color: #0c9ba0;
}


//roznowy przycisk
.btn-primary {
    overflow: hidden;
    width: 10em;
    background-color: #8D208D;
    color: white;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 1px 0.1rem 0.5rem 0 #ccc;
    border-image-width: 1;
    box-sizing: border-box;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
}

.btn-primary:hover {
    background: #823A82;
    border: 1px solid #823A82;
}

.btn-primary:active {
    background: #823A82;
}

a .btn .btn-primary {
    position: absolute;
    bottom: 10px;
    margin-bottom: 5px;
}
//footer
footer {
    height: 8% !important;
}

footer .row {
    height: 100% !important;
    padding: 0;
}

footer .container-fluid {
    padding: 0;
}

footer p {
    height: 100%;
    padding: 0;
}
//page-grafik
.tabletit {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2em;
    text-align: center;
    background-color: violet;
    color: white;
    letter-spacing: 1em;
    padding: 2%;
}

.table-responsive {
    display: table;
    text-align: center;
    font-size: 1.2rem !important;
    font-family: 'Barlow Condensed', sans-serif;
    vertical-align: middle;
    height: 100%;

}

.content_1 {
    display: flex;
    width: 1200px;
    padding: 2em;
    margin-left: 2em;
}
tr{
    text-align: center;
}

div .container-table {
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    border-collapse: collapse;
}

table {
    background-color: #fff;
    border: 1px solid #eee;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th {
    background-color: #eee;
    border-bottom: 2px solid #eee;
    font-weight: 600;
    padding: 0.75rem;
    text-align: left;
}

td {
    border-bottom: 2px solid #eee;
    padding: 0.75rem;
}

td,
th,
tr {
    vertical-align: middle;
}

.container-table-row {
    width: 100%;
}

.container-table-cell {
    width: 100%;
    text-align: center;
}

//page-kontakt
.content_2 {
    font-family: 'Righteous', cursive !important;
    font-size: 3.5em !important;
    margin: 2% !important;
    padding: 2% !important;
    text-align: center !important;
    display: table-cell !important;
    vertical-align: middle !important;
    height: 2em !important;
    width: 15em;

}
//single
//posty
#bod_sin{
    margin-left: 200px;
    margin-right: 200px;

}
#title_3 {
    text-align: center;
    background-color: #0c9ba0;
    display: table-cell;
    vertical-align: middle
}

div .card-text_3 {
    color: white;
    background-color:#0c9ba0;
    text-align: center;
    display: table-cell;
    padding-top: 2px !important;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    color:white;
    background-color: #3F7FBF;
}

.img-responive {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #3F3FBF;
}

.card-block,
.col-md-4,
.col-sm-6,
.col-xs-12 {
    clear: both;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.card-block {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    min-height: 60%;
}

.card-footer {
    margin-top: auto;
}

#bod_sin {
width:1200px;
display: table;

}
//mediaqueries
@media (min-width: 992px) {
    #guzik{
        display: none;
    }
}
@media (min-width: 768px) {
    #guzik{
        display: none;
    }

}
@media (min-width: 1200px) {
    #guzik{
        display: none;
    }
}
@media (max-width: 575px) {
 #navi{
        display: none;
    }
 #content{
    margin: 0;
    padding: 0;
    width: 411px;

}
.content_2{
    width: 411px;

}
.table-responsive{
    font-size: 12px !important;
}
}

//kids
@import url("https://fonts.googleapis.com/css?family=Roboto");


p {
  text-align: justify;
}
.card {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 2px;
}
.cardbody {
  font-size: 95%;
  padding: 10px;
}
.card-title {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.2em;
}

.jumbotron {
  height: 300px;
  border-radius: 10px;

  background: linear-gradient(
    180deg,
    rgba(222, 222, 222, 1) 0%,
    rgba(255, 255, 255, 1) 99%,
    rgba(128, 128, 128, 1) 100%
  );
}
#jumboBtn {
  margin-top: 25px;
}
.jumbotron h1 {
  font-size: 3.2em;
}
p.lead {
  font-size: 1em;
  color: #880B43;
  justify-content: center;
}

.ti_kids{
   color: #880B43;
   justify-content: center;
}
h5 {
  text-transform: uppercase;
}

@media (max-width: 770px) {
  .jumbotron h1 {
    font-size: 2em;
  }

  p.lead {
    font-size: 1em;
  }
}
//oferta
.card-container {
  perspective: 1000px;
  margin: 15px;
}

.card-three {

  min-height: 300px;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
/*   margin: 15px; */
}

.content,
.card-section {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.thumbnail {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  border-radius: 50px;
  margin-top: 10px;
}
.card-three {
  border: 1px solid #33cc00;
}

.card-three h1 {
  color: #33cc00;
}

.t-three {
  border: none;
  background: linear-gradient(to bottom, #99ff33, #33cc00);
}

.card-container:hover .card-three {
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  transition: 1s;
  transform: rotateY(0deg);
  position: relative;
  animation: turn-three 1s linear;
}

@keyframes turn-three {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
