$media-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$fiolet:#742974;
$fiolet-trzcionka:#880B43;
$szary:#736e75;
$blekit:#9aebed;
$fiolet_2:#3e0f2d;

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

footer,
header,
section {
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
.container-fluid {
    padding: 0;
    margin: 0;
    text-align: center;
}

.row {
    padding: 0;
    margin: 0;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1em;
}

//strona tytulowa
.active,
.carousel,
.item {
    height: 100%;
}

.carousel-inner {
    height: 100%;

    }


.carousel-caption {
    padding-bottom: 80px;
}

h1 {
    font-size: 3em;
    font-weight: 600;
}
/* Background images are set within the HTML using inline CSS, not here */
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}

 /**
     * Change animation duration
     */
.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    text-align: center;
}


//elementy glownego menu
.nav li a {
background:$szary;
color:white;
display:block;
padding-top:0.5em;
margin-right:0.1em;
border-radius: 5%;
letter-spacing: 0.4em;
font-weight: bolder;
font-size: 1em;
}

.nav li a:hover {
background:$fiolet;
text-decoration: none;
color: white;
}

/* sub-menus */
.sub-menu{
display:none;
}
li:hover > ul{
 visibility:visible; /* show it on hover */
 opacity:1;
 transition-delay:0;
 display: block;
}

//section main post
 #main{
    border-radius: 2%;
    padding-top: 0;
    }

.carousel-inner{
    height:100%;
    width:100%;
}

.carousel-inner img {
 text-align: center;
}
.card-body{
    padding: 0;
}
.card-text {
    color: #742974;
}

h5 {
    padding: 3%;
    color: #742974;
    }

p {
    text-align: center;
}

.pic_2 {
    width: 100%;
    height: 70%;
    text-align: center;
    //padding-bottom: 5px;
}

.pic_2 img {
    width: 100%;
    height: 100%;
    margin-top: 2px;
}

.pink_2 a {
    width: 10em;
    margin-bottom: 5px;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}

#main .card{
    margin: 0;
    padding: 0;
    border: 0;
}

//section siedbar

#side {
    background-image: url("http://localhost/WP_projekt/wp-content/uploads/2018/06/received_2639556182726692-450x1024.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5px;
    background-color: #2B77C4;
    border: solid 3px #742974;
    border-radius: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    }

#card_s {
    margin-top: auto;
    justify-content: flex-end;
    margin-top: 120%;
}

#tit_s {
    background-color: transparent;
}

.btn-info-outline {
    background-color: white;
    border-radius: 1rem;
    font-size: 20em;
    color: #742974;
}
//social buttons
.rounded-social-buttons {
    text-align: right !important;
    height: 50px;
}

.rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:focus,
.rounded-social-buttons .social-button:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.fa-facebook-f,
.fa-instagram,
.fa-linkedin,
.fa-youtube,
.rounded-social-buttons .fa-twitter {
    font-size: 10px;
}

.rounded-social-buttons .social-button.facebook {
    background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:focus,
.rounded-social-buttons .social-button.facebook:hover {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
    background: #55acee;
}

.rounded-social-buttons .social-button.twitter:focus,
.rounded-social-buttons .social-button.twitter:hover {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:focus,
.rounded-social-buttons .social-button.linkedin:hover {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
    background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:focus,
.rounded-social-buttons .social-button.youtube:hover {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
    background: #125688;
}

.rounded-social-buttons .social-button.instagram:focus,
.rounded-social-buttons .social-button.instagram:hover {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
}
//post
#title {
    text-align: center;
    background-color: transparent;
}

div .card-text {
    color: white;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.img-responive {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #3F3FBF;
}

.card-block,
.col-md-4,
.col-sm-6,
.col-xs-12 {
    clear: both;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.card-block {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    min-height: 60%;
}

.card-footer {
    margin-top: auto;
}

#bod {
    background-color: $szary;
}


//roznowy przycisk
.btn-primary {
    overflow: hidden;
    width: 10em;
    background-color: #8D208D;
    color: white;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 1px 0.1rem 0.5rem 0 #ccc;
    border-image-width: 1;
    box-sizing: border-box;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
}

.btn-primary:hover {
    background: #823A82;
    border: 1px solid #823A82;
}

.btn-primary:active {
    background: #823A82;
}

a .btn .btn-primary {
    position: absolute;
    bottom: 10px;
    margin-bottom: 5px;
}
//footer
footer {
    height: 8% !important;
}

footer .row {
    height: 100% !important;
    padding: 0;
}

footer .container-fluid {
    padding: 0;
}

footer p {
    height: 100%;
    padding: 0;
}
//page-grafik
.tabletit {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2em;
    text-align: center;
    background-color: violet;
    color: white;
    letter-spacing: 1em;
    padding: 2%;
}

.table-responsive {
    display: table;
    text-align: center;
    font-size: 1.2rem !important;
    font-family: 'Barlow Condensed', sans-serif;
    vertical-align: middle;
    height: 100%;

}

.content_1 {
    display: flex;
    width: 1200px;
    padding: 2em;
    margin-left: 2em;
}
tr{
    text-align: center;
}

div .container-table {
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    border-collapse: collapse;
}

table {
    background-color: #fff;
    border: 1px solid #eee;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th {
    background-color: #eee;
    border-bottom: 2px solid #eee;
    font-weight: 600;
    padding: 0.75rem;
    text-align: left;
}

td {
    border-bottom: 2px solid #eee;
    padding: 0.75rem;
}

td,
th,
tr {
    vertical-align: middle;
}

.container-table-row {
    width: 100%;
}

.container-table-cell {
    width: 100%;
    text-align: center;
}

//page-kontakt
.content_2 {
    font-family: 'Righteous', cursive !important;
    font-size: 3.5em !important;
    margin: 2% !important;
    padding: 2% !important;
    text-align: center !important;
    display: table-cell !important;
    vertical-align: middle !important;
    height: 2em !important;
    width: 15em;

}
//single
.card-title_single {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0.5em;
    text-transform: uppercase;
    font-size: 1.5em;
}

.card-text_3{
    color: #e2b6d2;
}

div .card-text_3 {
    color: white;
    text-align: center;
    display: table-cell;
    }

.cardy{
    background: linear-gradient(to left, #292427 0%, #cc6699 112%);
    color:white;
    border-radius: 3%;
    
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0.2em;
    font-weight: bold;
    text-align: left;
}


.img-responive {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #3F3FBF;
}

.card-block,
.col-md-4,
.col-sm-6,
.col-xs-12 {
    clear: both;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.card-block {
    display: flex;
    flex-direction: column;
    min-height: 60%;
}

.card-footer {
    margin-top: auto;
}

#bod_sin {
width:1200px;
display: table;

}
//mediaqueries
@media (min-width: 992px) {
    #guzik{
        display: none;
    }
}
@media (min-width: 768px) {
    #guzik{
        display: none;
    }

}
@media (min-width: 1200px) {
    #guzik{
        display: none;
    }
}
@media (max-width: 575px) {
 #navi{
        display: none;
    }
 #content{
    margin: 0;
    padding: 0;
    width: 411px;

}
.content_2{
    width: 411px;

}
.table-responsive{
    font-size: 12px !important;
}
}

//kids
@import url("https://fonts.googleapis.com/css?family=Roboto");

.card {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 2px;
}
.cardbody {
  font-size: 95%;
  padding: 10px;
}
.card-title {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.2em;
 }

.jumbotron {
  height: 300px;
  border-radius: 10px;
  background-image: url('http://localhost/WP_projekt/wp-content/uploads/2018/08/assortment-bright-candy-1043519.jpg');
  background-repeat:repeat;
  background-size:contain;


}
#jumboBtn {
  margin-top: 10px;
}
.jumbotron h1 {
  font-size: 2em;
  font-weight: bold;
}
p.lead {
  font-size: 1em;
  color: #880B43;
  display: flex;
  justify-content: center;
  padding-left: 2.5em;
   font-weight: bold;
   width: 90%;

}

.ti_kids{
   color: #880B43;
   justify-content: center;
}
h5 {
  text-transform: uppercase;
}

@media (max-width: 770px) {
  .jumbotron h1 {
    font-size: 2em;
  }

  p.lead {
    font-size: 1em;
  }
}
//oferta
.oferta{
    background-image: url('http://localhost/WP_projekt/wp-content/uploads/2018/08/pexels-photo-669578-2.jpeg');
    background-repeat:repeat;
    background-size:cover;
}
